{% extends "base.html" %}

{% block main %}

<h1 class="page-header">Wishlist</h1>
{% include 'flash_messages.html' %}



{% raw %}
<div ng-app="myApp" ng-controller="myCtrl">
    <p>Pick an item to delete from your list.</p>
    <div class="main-container">
        <div ng-repeat="item in wishlist track by $index" ng-click="removeItem($index)">
            {{ item }}
        </div>
    </div>
</div>
{% endraw %}


{% endblock %}

{% block js %}
<script type="text/javascript">
    /* global angular */

var app = angular.module('myApp', []);
app.controller("myCtrl", function($scope, $http) {
    $http.get('/api/users/{{ user.id }}/wishlist').then(function(response) {
        $scope.wishlist = response.data;
    }
    
    $scope.removeItem() = function(x){
        $http.delete('/api/users/{{user_id}}/wishlist/{{x.item_id}}')
        .then(function(){
            $scope.wishlist.splice(x,1)
        }, function(){
            flash("Error! Could not delete {{x}}");
        }
        )
    }
    );
});
</script>
{% endblock %}